body {
  background-color: #f5f6fa;
}

.App {
  padding: 10px;
}

.container {
  width: 1000px;
  margin: 0px auto;
}

.content {
  display: flex;
  flex-direction: row;
}

.content > div {
  margin-right: 20px;
}

.simulation {
  background-color: #ffffff;
  height: 100px;
  flex-grow: 1;
}

.inputSliders {
  background-color: #ffffff;
  padding: 20px 40px;
  width: 250px;
}

.rc-slider-handle {
  border-color: #4b80ff;
  border-width: 5px;
}

.rc-slider-step {
  height: 5px;
}

.rc-slider-track {
  background-color: #4b80ff;
  height: 5px;
}