html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}







body {
  background-color: #f5f6fa;
  font-family: "Source Sans Pro", sans-serif;
}

.App {
  padding: 10px;
}

.container {
  width: 1000px;
  margin: 0px auto;
  padding-top: 70px;
}

.row {
  display: flex;
  flex-direction: row;
}

.row > div {
  margin-right: 20px;
}

.sliderInfo {
  display: flex;
}

.sliderInfo .label {
  color: #4f4f4f;
  font-weight: bold;
  flex-grow: 1;
}

.sliderInfo .value {
  text-align: right;
  color: #afb5c4;
  font-weight: bold;
}

.simulation {
  background-color: #ffffff;
  flex-grow: 1;
}

.inputSliders {
  background-color: #ffffff;
  padding: 20px 40px;
  width: 250px;
}

.rc-slider-handle {
  border-color: #4b80ff;
  border-width: 5px;
}

.rc-slider-step {
  height: 5px;
}

.rc-slider-track {
  background-color: #4b80ff;
  height: 5px;
}

.footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 2rem;
  background-color: #f5f6fa;
  color: #93a3bc;
  text-align: center;
}

.navbar {
  display: flex;
  margin-bottom: 30px;
}

.navbar a {
  padding: 0 0 6px 0;
  margin-right: 40px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  color: #afb5c4;
}

.navbar .selected {
  border-bottom: 3px solid #4b80ff;
  color: #0f1b36;
}

.participants-def {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
}

.participants-def h2 {
  text-transform: uppercase;
  color: #898f9d;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 18px;
}

.participants-def .sources,
.participants-def .recipients {
  width: 45%;
}

.participants-def .arrow {
  background-image: url("/andrews_arrow.png");
  width: 27px;
  height: 146px;
  margin: 60px 10px;
}

.participantOption {
  display: inline-block;
  position: "relative";
}

.editorTab {
  padding: 30px 40px;

  background-color: #fff;
  width: 50%;
}

.editorTab div > h4 {
  /*color: #9198a0;*/
  color: #898f9d;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.predefined-def {
  margin: 36px 0 26px 0;
  padding: 0 14px;
  background: #f5f6fa;
}

.predefined-def h4 {
  padding: 14px 0 10px 0;
  border-bottom: 2px solid #ffffff;
  color: #9198a0;
  font-weight: bold;
}

.predefined-def ul li {
  padding: 14px 0;
}

.predefined-def ul li h5 {
  font-weight: bold;
  color: #46505c;
  margin-bottom: 5px;
}

.predefined-def ul li p {
  color: #939aad;
  font-size: 14px;
}

.predefined-def ul li span {
  float: right;
}

.selector {
  display: inline-flex;
  border: 1px solid #e5e9f2;
  border-radius: 3px;
  overflow: hidden;
}

.selector a {
  padding: 14px 0;
  width: 50%;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  min-width: 117px;
  text-align: center;
  background: #f5f6fa;
  color: #939aad;
}

.selector a.selected {
  color: #46505C;
  background: #ffffff;
}

.selector a:last-child {
  border-left: 1px solid #e5e9f2;
}

.add-btn {
  cursor: pointer;
  font-size: 13px;
  background: #f6f6f6;
  border: 0;
  border-radius: 2px;
  padding: 12px 5px;
  width: 100%;
  text-transform: uppercase;
  font-weight: 600;
  color: #46505C;
  margin-top: 8px;
}

.asdf {
  background: #f2f2f2;
}

h4 {
  text-transform: uppercase;
}

input {

}

.simParticipants {
  display: flex;
  flex-direction: row;
}

.simParticipants > div {
  width: 50%;
}

.payees .money {
  color: green;
}

.payors .money {
  color: red;
}

.Select-input {
  display: none !important;
}

.participantValue, .participantOption {
  padding: 0 9px;
  border: solid 1px #e5e5e5;
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 6px;
}

.participantOption {
  border: 0;
  /*border-top: 1px solid #e5e5e5;*/
  border-bottom: 1px solid #e5e5e5;
  margin: 0;
  border-radius: 0;
}

.participantObject:last-child {
  border-bottom: none;
}

.participantOption p {
  padding: 10px 0;
}

.participantValue {
  padding: 10px 9px;
}

.participantValue .name {
  font-size: 16px;
  margin-bottom: 4px;
}

.participantValue .address {
  color: rgba(70, 80, 92, 0.53);
}

.participantValue .address, .participantOption span {
  color: rgba(70, 80, 92, 0.53);
  font-size: 15px;
}

.participantOption span {
  padding-top: 4px;
  display: inline-block;
}

.Select-control {
  border: solid 1px #e5e5e5 !important;
}

.Select-control .participantValue {
  border: 0;
  margin: 0;
}