body {
  background-color: #f5f6fa;
  font-family: "Source Sans Pro", sans-serif;
}

.App {
  padding: 10px;
}

.container {
  width: 1000px;
  margin: 0px auto;
}

.row {
  display: flex;
  flex-direction: row;
}

.row > div {
  margin-right: 20px;
}

.sliderInfo {
  display: flex;
}

.sliderInfo .label {
  color: #4f4f4f;
  font-weight: bold;
  flex-grow: 1;
}

.sliderInfo .value {
  text-align: right;
  color: #afb5c4;
  font-weight: bold;
}

.simulation {
  background-color: #ffffff;
  height: 100px;
  flex-grow: 1;
}

.inputSliders {
  background-color: #ffffff;
  padding: 20px 40px;
  width: 250px;
}

.rc-slider-handle {
  border-color: #4b80ff;
  border-width: 5px;
}

.rc-slider-step {
  height: 5px;
}

.rc-slider-track {
  background-color: #4b80ff;
  height: 5px;
}

.footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 2rem;
  background-color: #f5f6fa;
  color: #93a3bc;
  text-align: center;
}
.navbar {
  display: flex;
  margin-bottom: 30px;
}

.navbar a {
  padding: 5px 0px;
  margin-right: 40px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  color: #afb5c4;
}

.navbar .selected {
  border-bottom: 2px solid #4b80ff;
  color: #0f1b36;
}

.editorTab .selector a {
  border: 1px solid #ccc;
  padding: 10px;
}
